{% load static %}

<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/css/uikit.min.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit-icons.min.js"></script> 
<head>
    <title>My Project</title>

    <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">Logo</a>
            </ul>
    
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
        {% block header %}{% endblock %}
         </ul>
        </div>
     
    </nav>
    </div>
</head>

<body>
    <div class="uk-container">
{% block content %}{% endblock %}
    </div>
</body>

<footer>
        <div class="uk-margin-large-top">
        <div class="uk-container">
            <ul class="uk-breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Linked Category</a></li>
                <li class="uk-disabled"><a>Disabled Category</a></li>
                <li><span></span></li>
            </ul>
        </div>
        </div>
</footer>
</html>