{% load static %}

<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/css/uikit.min.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit-icons.min.js"></script> 
<head>
    <title>SSLAlly | Everything you need to for troubleshooting</title>
<!--
    <nav class="uk-navbar-container" uk-navbar>
        
        <div class="uk-container">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">SSL Ally</a>
            </ul>
        </div>
        </div>
        <div class="uk-container">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">Monitor</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="/result/">SSL</a></li>
                            <li><a href="/ping/">Ping</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Tools</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">SSL Scan</a></li>
                            <li><a href="/ping/">Ping</a></li>
                            <li><a href="/dig/">DIG</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        </div>
    </nav>
    !-->

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">SSL Ally</a>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="/monitor/">Monitor</a>
                </li>
                <li>
                    <a href="#">Tools</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">SSL Scan</a></li>
                            <li><a href="/ping/">Ping</a></li>
                            <li><a href="/dig/">DIG</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Blog</a></li>
                <li></li>
            </ul>

            <div class="uk-navbar-item">
                <form action="javascript:void(0)">
                    <button class="uk-button uk-button-primary">Sign In</button>
                </form>
            </div>

        </div>
    </nav>
</head>

<body>
    <div uk-height-viewport="expand: true" class="uk-container uk-text-break">
{% block content %}{% endblock %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
{% block javascript %}{% endblock %}
</body>

<footer>
        <div class="uk-section uk-section-primary uk-container uk-position-bottom uk-position-relative">
            <ul class="uk-breadcrumb uk-position-center">
                <li><a href="#">Home</a></li>
                <li><a href="#">Linked Category</a></li>
                <li class="uk-disabled"><a>Disabled Category</a></li>
                <li><span></span></li>
            </ul>
        </div>
</footer>
</html>



{% load static tailwind_tags %}
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Required font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
		{% tailwind_css %}

		
	</head>

	<body>

		<nav class="bg-white shadow dark:bg-gray-800">
			<div
			  class="
				container
				px-6
				py-3
				mx-auto
				md:flex md:justify-between md:items-center
			  "
			>
			  <div class="flex items-center justify-between">
				<div>
				  <a
					class="
					  text-xl
					  font-bold
					  text-gray-800
					  dark:text-white
					  md:text-2xl
					  hover:text-gray-700
					  dark:hover:text-gray-300
					"
					href="#"
					>Brand</a
				  >
				</div>
		  
				<!-- Mobile menu button -->
				<div class="flex md:hidden">
				  <button
					type="button"
					class="
					  text-gray-500
					  dark:text-gray-200
					  hover:text-gray-600
					  dark:hover:text-gray-400
					  focus:outline-none focus:text-gray-600
					  dark:focus:text-gray-400
					"
					aria-label="toggle menu"
				  >
					<svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
					  <path
						fill-rule="evenodd"
						d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
					  ></path>
					</svg>
				  </button>
				</div>
			  </div>
		  
			  <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
			  <div class="items-center md:flex">
				<div class="flex flex-col md:flex-row md:mx-6">
				  <a
					class="
					  my-1
					  text-gray-700
					  dark:text-gray-200
					  hover:text-indigo-500
					  dark:hover:text-indigo-400
					  md:mx-4 md:my-0
					"
					href="#"
					>Home</a
				  >
				  <a
					class="
					  my-1
					  text-gray-700
					  dark:text-gray-200
					  hover:text-indigo-500
					  dark:hover:text-indigo-400
					  md:mx-4 md:my-0
					"
					href="#"
					>Shop</a
				  >
				  <a
					class="
					  my-1
					  text-gray-700
					  dark:text-gray-200
					  hover:text-indigo-500
					  dark:hover:text-indigo-400
					  md:mx-4 md:my-0
					"
					href="#"
					>Contact</a
				  >
				  <a
					class="
					  my-1
					  text-gray-700
					  dark:text-gray-200
					  hover:text-indigo-500
					  dark:hover:text-indigo-400
					  md:mx-4 md:my-0
					"
					href="#"
					>About</a
				  >
				</div>
		  
				<div class="flex justify-center md:block">
				  <a
					class="
					  relative
					  text-gray-700
					  dark:text-gray-200
					  hover:text-gray-600
					  dark:hover:text-gray-300
					"
					href="#"
				  >
					<i class="fas fa-shopping-cart"></i>
		  
					<span
					  class="
						absolute
						top-0
						left-0
						p-1
						text-xs text-white
						bg-indigo-500
						rounded-full
					  "
					></span>
				  </a>
				</div>
			  </div>
			</div>
		  </nav>

{% block contenttest %}{% endblock %}

</body>


<footer class="text-gray-600 body-font">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >
        <i class="fas fa-cubes fa-lg text-purple-500"></i>
        <span class="ml-3 text-xl">Tailwind elements</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi,
        quam?
      </p>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div
      class="
        container
        mx-auto
        py-4
        px-5
        flex flex-wrap flex-col
        sm:flex-row
      "
    >
      <p class="text-gray-500 text-sm text-center sm:text-left">
        © 2021 Copyright:
        <a
          href="https://www.tailwind-elements.com/"
          class="text-gray-600 ml-1"
          target="_blank"
          >Tailwind Elements</a
        >
      </p>
      <span
        class="
          inline-flex
          sm:ml-auto sm:mt-0
          mt-2
          justify-center
          sm:justify-start
        "
      >
        <a href="" class="text-gray-500">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="ml-3 text-gray-500">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="ml-3 text-gray-500">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="" class="ml-3 text-gray-500">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="" class="ml-3 text-gray-500">
          <i class="fab fa-instagram"></i>
        </a>
      </span>
    </div>
  </div>
</footer>
</html>