

{% extends "polls/base.html" %}

{% block header %}
    <li>
        <a href="#">Monitor</a>
        <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">SSL Monitor</a></li>
                <li><a href="ping/">Ping Monitor</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#">Tools</a>
        <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">SSL Scan</a></li>
                <li><a href="ping/">Ping</a></li>
                <li><a href="dig/">DIG</a></li>
            </ul>
        </div>
    </li>
    <li><a href="#">Blog</a></li>
{% endblock %}

$.ajax({
    type: "GET",
    dataType: "json",
    url:"/updata/",
    success: function(data)
    {
        alert("i got data now i will parse it as i want to display it");
    }, })

{% block content %}

    <div>
        <fieldset class="uk-fieldset">
            <div class="uk-flex-inline uk-position-center uk-position-relative uk-margin uk-margin-large-top">
            <div class="uk-text-large uk-margin-right">Hostname:</div>
            <div><input id="website_port" class="uk-input" type="text" placeholder=""></div>
            <div class="uk-text-large uk-margin-right uk-margin-left">Record Type</div>
            <div class="uk-margin-left">
                <select id="record_type" class="uk-select" name="record_type">
                    <option>A</option>
                    <option>AAAA</option>
                    <option>ANY</option>
                    <option>CAA</option>
                    <option>MX</option>
                    <option>NS</option>
                    <option>PTR</option>
                    <option>SOA</option>
                    <option>SRV</option>
                    <option>TXT</option>
                </select> 
            </div>
            <div><button onclick="myFunction()" class="uk-button uk-button-default uk-button uk-margin-left">Submit</button></div>
            </div>
        </fieldset>
    </div>
    <div class="uk-card uk-card-default">
        <div  class=" uk-margin-left">
        <div id="ssl-data"> </div>
        
        </div>
        </div>
      
{% endblock %}

{% block javascript %}
<script>
function myFunction(){
var website_port = document.getElementById("website_port").value;
var record_type = document.getElementById("record_type").value;
$.ajax({
    type: "GET",
    url:"result/?website_port="+website_port+"&record_type="+record_type,
    success: function(data)
    {   
        console.log(data);
        $("#ssl-data").html(data);
    },
    failure: function(data) { 
        console.log('Got an error dude');
    }})
}
</script>
{% endblock %}
