

{% extends "polls/base.html" %}

{% block contenttest %}

<div>
    <fieldset class="uk-fieldset">
        <div class="uk-flex-inline uk-position-center uk-position-relative uk-margin uk-margin-large-top">
        <div class="uk-text-large uk-margin-right">Hostname:</div>
        <div><input id="website_port" class="uk-input" type="text" placeholder=""></div>
        <div class="uk-text-large uk-margin-right uk-margin-left">Record Type</div>
        <div class="uk-margin-left">
            <select id="record_type" class="uk-select" name="record_type">
                <option>A</option>
                <option>AAAA</option>
                <option>ANY</option>
                <option>CAA</option>
                <option>CNAME</option>
                <option>MX</option>
                <option>NS</option>
                <option>PTR</option>
                <option>SOA</option>
                <option>SRV</option>
                <option>TXT</option>
            </select> 
        </div>
        <div><button onclick="myFunction()" class="uk-button uk-button-default uk-button uk-margin-left">Submit</button></div>
        </div>
    </fieldset>
</div>
<div class="uk-card uk-card-default">
<div  class=" uk-margin-left">
    <div id="dig-data"> </div>
</div>
</div>

{% endblock %}
