{% extends "polls/base.html" %}


{% block javascript %}

<script>


$(document).ready(function() {


 //get value from buttons in div id: record_buttons 
 $("#record_buttons button").click(function(){
  var button_value = $(this).val();
  var website_port = document.getElementById("website_port").value;
  var dns_server = document.getElementById("dns_server").value;
  var dig_data = document.getElementById("dig-data");
  dig_data.innerHTML = ""

  var ajax_request = $.ajax({
        type: "GET",
        url: "result/?website_port=" + website_port + "&record_type=" + button_value +"&dns_server=" + dns_server,
        success: function (data) {
          data = JSON.parse(data);
           
            for (var key in data){
             if (data[key].length != 0){
              for (var record_num in data[key]){
                for (var record_key in data[key][record_num]){
                  // dig_data.innerHTML += ('<div class="grid grid-cols-4 gap-0 justify-items-start items-center border-b-1 py-2 px-2"><div>'+record_key+' :'+"</div><div class='col-span-3'>"+data[key][record_num][record_key]+'</div></div>');
                  dig_data.innerHTML += ('<div class="flex flex-cols space-x-4 justify-items-start items-center"><div class="font-semibold">'+record_key+' :'+"</div><div>"+data[key][record_num][record_key]+'</div></div>');
                }

                // dig_data.innerHTML += ('<br>')
                }
                  
              }
              

            else{
              console.log("no data")
              dig_data.innerHTML += ('<div class="flex flex-cols space-x-4 justify-items-start items-center"><div class="font-semibold">'+key+' :'+"</div><div class='col-span-3'>Not found</div></div>");
              dig_data.innerHTML += ('<br>')
            }
          
          }
      
        },
        failure: function (data) {
          console.log('Got an error dude');
        }
        });  
  });
});


</script>

{% endblock %}


{% block content %}


  <div class="max-w-6xl mx-auto px-8 py-6">


      <div class="mx-auto flex items-center justify-center p-5 space-x-2">
        <div class="">Domain name:</div>
        <div>
          <input id="website_port" type="text" placeholder="" class="
                px-3
                py-3
                placeholder-gray-400
                text-gray-600
                relative
                bg-white bg-white
                rounded
                text-sm
                border border-gray-400
                outline-none
                focus:outline-none focus:ring
                w-full
              " />
        </div>
        <div class="">DNS Server</div>
        <div class="">
          <select id="dns_server" class="" name="record_type1">
            <option>Google</option>
            <option>OpenDNS</option>
            <option>Cloudflare</option>
          </select>
        </div>
       
      </div>
    

      <div id="record_buttons"  class="flex-wrap max-w-max mx-auto  mt-10 flex  border divide-indigo-400 border-indigo-500 rounded-sm bg-gray-100 divide-indigo-400 text-base text-indigo-500 leading-5">
        <button value="A"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">A</span>
          </button>
          <button  value="AAAA"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">AAAA</span>
          </button>
          <button  value="ANY"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">ANY</span>
          </button>
          <button  value="CAA"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">CAA</span>
          </button>
          <button  value="CNAME"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">CNAME</span>
          </button>
          <button  value="MX"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">MX</span>
          </button>
          <button  value="NS"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">NS</span>
          </button>
          <button  value="PTR"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">PTR</span>
          </button>
          <button  value="SOA"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">SOA</span>
          </button>
          <button  value="SRV"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">SRV</span>
          </button>
          <button  value="TXT"
            class="px-4 py-2 cursor-pointer focus:bg-purple-600 focus:text-white focus:scale-110 focus:outline-none hover:bg-purple-600 hover:text-white transition duration-200 ease-in-out flex justify-center items-center">
            <span class="ml-2">TXT</span>
          </button>
      </div>

    <!-- This is the dig result div -->
      <div class="max-w-6xl mx-auto border bg-gray-100 px-8 py-6 mt-10" id="dig-data"> 
        
      </div>
  </div>
{% endblock %}