

{% extends "polls/base.html" %}

{% block header %}
    <li>
        <a href="#">Monitor</a>
        <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">SSL Monitor</a></li>
                <li><a href="ping/">Ping Monitor</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#">Tools</a>
        <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">SSL Scan</a></li>
                <li><a href="ping/">Ping</a></li>
                <li><a href="dig/">DIG</a></li>
            </ul>
        </div>
    </li>
    <li><a href="#">Blog</a></li>
{% endblock %}

$.ajax({
    type: "GET",
    dataType: "json",
    url:"/updata/",
    success: function(data)
    {
        alert("i got data now i will parse it as i want to display it");
    }, })

{% block content %}
<form  action="result">
    <fieldset class="uk-fieldset">
        <div class="uk-flex-inline uk-position-center uk-position-relative uk-margin uk-margin-large-top">
        <div class="uk-text-large uk-margin-right">Hostname:</div>
        <div><input class="uk-input" type="text" placeholder="" name="website_port"></div>
        <div><button class="uk-button uk-button-default uk-button uk-margin-left">Submit</button></div>
    </div>
    </fieldset>
</form>

    <div class="uk-margin-large-top">
    <span class="uk-margin-small-right" uk-spinner="ratio: 1"></span>
    </div>         
{% endblock %}
