

{% extends "polls/base.html" %}

{% block javascript %}
<script>
function myFunction(){
var website_port = document.getElementById("website_port").value;
var ssl_data = document.getElementById("ssl-data");
//document.getElementById("ssl-data").innerHTML.replace(" ");
$.ajax({
   
    type: "GET",
    url:"/result/?website_port="+website_port,
    beforeSend: function(){
        $('#loading-spinner').show();
    },
    success: function(data)
    {   
      //console.log(JSON.parse(json))
    // p = data
    // for (var key in p) {
    // if (p.hasOwnProperty(key)) {
    //     console.log(data);
    //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
    // }
    // }
    console.log(JSON.parse(data))
    data=JSON.parse(data)
    ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
    },
    complete: function(){
        $('#loading-spinner').hide();
    },
    failure: function(data) { 
        console.log('Got an error dude');
    }})
}
</script>
{% endblock %}

{% block content %}




  <div class="max-w-6xl mx-auto px-6 py-6 mt-10 mb-10">
    <div class="relative lg:flex rounded-lg overflow-hidden">
      <div class="mx-auto flex items-center justify-center p-5 space-x-2"> 
        This is home page. 

      </div>
    </div>
  </div>



  {% endblock %}