

{% extends "polls/base.html" %}

{% block javascript %}
<script>

var valid_svg='<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-current text-green-600" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>'; 
var warning_svg ='<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-yellow-400" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" /></svg>';
var invalid_svg = '<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" /></svg>';

function myFunction(){

var website_port = document.getElementById("website_port").value;
var ssl_data = document.getElementById("ssl-data");
var spinner_div = document.getElementById("loading-spinner");
var scanner_text = document.getElementById("scanning-update");
var ssl_path_div = document.getElementById("ssl-path-div");
var path_expand_block = '' + 
'<div class="flex border-b-2 py-2 px-2">' + 
'    <div x-data="{id: 1}">' + 
'      <button  @click="$dispatch(\'open-dropdown\',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">' + 
'      Windows' + 
'      </button>' + 
'    </div>' + 
'      <div x-data="{id: 2}">' + 
'        <button  @click="$dispatch(\'open-dropdown\',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">' + 
'        Windows' + 
'        </button>' + 
'      </div>' + 
'      <div x-data="{id: 3}">' + 
'        <button  @click="$dispatch(\'open-dropdown\',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">' + 
'        Windows' + 
'        </button>' + 
'      </div>' + 
'      <div x-data="{id: 4}">' + 
'        <button  @click="$dispatch(\'open-dropdown\',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">' + 
'        Windows' + 
'        </button>' + 
'      </div>' + 
'</div>' + 
'  <div x-data="{ open: false }"' + 
'    x-show="open"' + 
'    @open-dropdown.window="if ($event.detail.id == 1) open = true"' + 
'    @click.away="open = false">' + 
'    <div id="cert-path-android"></div>' + 
'  </div>' + 
'  <div x-data="{ open: false }"' + 
'    x-show="open"' + 
'    @open-dropdown.window="if ($event.detail.id == 2) open = true"' + 
'    @click.away="open = false">' + 
'    <div id="cert-path-apple"></div>' + 
'  </div>' + 
'  <div x-data="{ open: false }"' + 
'    x-show="open"' + 
'    @open-dropdown.window="if ($event.detail.id == 3) open = true"' + 
'    @click.away="open = false">' + 
'    <div id="cert-path-mozilla"></div>' + 
'  </div>' + 
'  <div x-data="{ open: false }"' + 
'    x-show="open"' + 
'    @open-dropdown.window="if ($event.detail.id == 4) open = true"' + 
'    @click.away="open = false">' + 
'    <div id="cert-path-windows"></div>' + 
'  </div>' + 
'';

scanner_text.innerHTML=""
ssl_data.innerHTML=""
//document.getElementById("ssl-data").innerHTML.replace(" ");
$.ajax({
   
    type: "GET",
    url:"result/?website_port="+website_port,
    beforeSend: function(){
    $('#loading-spinner').show();
    scanner_text.innerHTML="Scanning certificate..."
    },
    success: function(data)
    {   
    // console.log(JSON.parse(data))
    // p = data
    // for (var key in p) {
    // if (p.hasOwnProperty(key)) {
    //     console.log(data);
    //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
    // }
    // }
    console.log(data)
    data=JSON.parse(data)
    console.log(data)

    
   
    //ssl_data.innerHTML ="";
    // ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
    ssl_data.innerHTML += '<div class="flex font-bold bg-gray-300 justify-center items-center shadow-sm py-2 px-2 rounded-md"> Main Certificate Information</div>';

    for (var num in data["Main Certs"]){
      console.log(num)
      for (var inner_num in (data["Main Certs"][num])){
        for (var key in (data["Main Certs"][num][inner_num])){
        console.log(key)
        ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data["Main Certs"][num][inner_num][key])+"</div>";
        }
      }
}
  
ssl_data.innerHTML += '<div class="flex font-bold bg-gray-300 justify-center items-center shadow-sm py-2 px-2 rounded-md"> Other Certificate Information</div>'; 

for (var num in data["Other Certs"]){
      for (var key in (data["Other Certs"][num])){
        ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data["Other Certs"][num][key])+"</div>";}
}


ssl_data.innerHTML += '<div class="flex font-bold bg-gray-300 justify-center items-center shadow-sm py-2 px-2 rounded-md"> Cert Path Information</div>';
ssl_data.innerHTML += path_expand_block


var ssl_path_android = document.getElementById("cert-path-android");
var ssl_path_apple = document.getElementById("cert-path-apple");
var ssl_path_mozilla = document.getElementById("cert-path-mozilla");
var ssl_path_windows = document.getElementById("cert-path-windows");


for (var num in data["Cert Path"]){
      for (var inner_num in (data["Cert Path"][num])){
        for (var key in (data["Cert Path"][num][inner_num])){
        ssl_path_android.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data["Cert Path"][num][inner_num][key])+"</div>";
        ssl_path_apple.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data["Cert Path"][num][inner_num][key])+"</div>";
        ssl_path_mozilla.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data["Cert Path"][num][inner_num][key])+"</div>";
        ssl_path_windows.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data["Cert Path"][num][inner_num][key])+"</div>";
        }
    }
}

console.log(data["Cert Path"])

  //   for (var i in data){
  //     for(var x in i){
       
  //       console.log(data[i][x]["Main cert"])
  //       for (var key in (data[i][x]["Main cert"])) { 
  //    if (data.hasOwnProperty(key)) {
  //     ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div>";
  //       }

  //     }
  //     }
  // }
  //   for (var i in data[0]){
  //     for(var x in i){
  //       console.log(data[0][i][x])
  //       for (var key in (data[0][i][x])) { 
  //    if (data.hasOwnProperty(key)) {
  //     ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div>";
  //       }

  //     }
      
  //   }
  // }

  //============================== NEW DATA ==============================
      // for (var i in data){
         
  
      //       for ( var x in data[i]){
      //         for (var key in (data[i][x]["Main cert"])){
      //           console.log("hizz"+data[i][x]["Main cert"][key])
      //             if (data[i][x]["Main cert"].hasOwnProperty(key)) {
      //           ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[i][x]["Main cert"][key])+"</div>";
      //             }

      //         }
      //         for (var key in (data[i][x][0])){
      //           console.log("hizz"+data[i][x][0][key])

      //           if (data[i][x][0].hasOwnProperty(key)) {
      //           ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[i][x][0][key])+"</div>";
      //             }


      //         }

          
      //     }
      // }


    
    },

    complete: function(){
      //Second AJAX FUNCTION
      $.ajax({
        type: "GET",
        url:"ssl2_0/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Scanning for SSL 2.0"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        ssl_data.innerHTML += '<div class="flex font-bold justify-center items-center bg-gray-300 shadow-sm py-2 px-2">SSL Protocols</div>';
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
        $.ajax({
        type: "GET",
        url:"ssl3_0/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Scanning for SSL 3.0"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2 ">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
          $.ajax({
        type: "GET",
        url:"tls1_0/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Scanning for TLS 1.0"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
          $.ajax({
        type: "GET",
        url:"tls1_1/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Scanning for TLS 1.1"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
          $.ajax({
        type: "GET",
        url:"tls1_2/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Scanning for TLS 1.2"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
          $.ajax({
        type: "GET",
        url:"tls1_3/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Scanning for TLS 1.3"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2 auto-cols-max">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
          $('#loading-spinner').hide(); 
          ssl_data.innerHTML += '<div class="flex font-bold justify-center items-center bg-gray-300 shadow-sm py-2 px-2">Supported Cipher Suites<br> </div>';
          scanner_text.innerHTML=""

        $.ajax({
        type: "GET",
        url:"supported_suites/?website_port="+website_port,
        beforeSend: function(){
        $('#loading-spinner').show();
        scanner_text.innerHTML="Getting suported ciphers"
        },
        success: function(data)
        {   
          //console.log(JSON.parse(json))
        // p = data
        // for (var key in p) {
        // if (p.hasOwnProperty(key)) {
        //     console.log(data);
        //     document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] ) 
        // }
        // }
        data=JSON.parse(data)
        //ssl_data.innerHTML ="";
        //ssl_data.innerHTML = '<div class="flex items-center justify-center font-bold border shadow-sm mb-6 py-2 px-2">' + valid_svg + '= Valid' + warning_svg + '= Warning' + invalid_svg + '= Invalid </div>'
        for (var key in data) { 
          if (data.hasOwnProperty(key)) {
          //document.getElementById("ssl-data").innerHTML += (key + " : " + p[key] );
          // ssl_data.innerHTML += '<div class="flex flex-row justify-between items-center border-b-2 py-2 px-2">'+(key)+(data[key])+"</div> <br>";
          ssl_data.innerHTML += '<div class="grid grid-cols-3 justify-items-start items-center border-b-2 py-2 px-2 auto-cols-max">'+(key)+(data[key])+"</div>";
          //ssl_data.innerHTML = (data['expiration']+"<br>"+data['dns']);
        }
      }
  
        },
        complete: function(){
          $('#loading-spinner').hide(); 
          scanner_text.innerHTML=""

          
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})

          
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})
          
        },
        failure: function(data) { 
            console.log('Got an error dude');
          
        }})

        //Internal AJAX Function
    },
    failure: function(data) { 
        console.log('Got an error dude');
        
    }})
    //$('#loading-spinner').hide(); 
}

</script>
{% endblock %}

{% block content %}
<style>
    .loader {
      border-top-color: #3498db;
      -webkit-animation: spinner 1.5s linear infinite;
      animation: spinner 1.5s linear infinite;
    }
  
    @-webkit-keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
  
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>




  <div class="max-w-6xl mx-auto">
  <div class="mx-auto flex items-center justify-center p-5 space-x-2">
    <div class="">Hostname:</div>    
    <div class="">
        <input
          id="website_port"
          type="text"
          placeholder="Placeholder"
          class="
            px-3
            py-3
            placeholder-gray-400
            text-gray-600
            bg-white bg-white
            rounded
            text-sm
            border border-gray-400
            outline-none
            focus:outline-none focus:ring
            w-full
          "
        />
      </div>
      <button 
      onclick="myFunction()"
      class="
        bg-red-600
        text-white
        active:bg-purple-600
        font-bold
        uppercase
        text-sm
        px-6
        py-3
        rounded
        shadow
        hover:shadow-lg
        outline-none
        focus:outline-none
        ease-linear
        transition-all
        duration-150
      "
      type="button"
    >
    TEST SSL
    </button>

    <div
    id="loading-spinner" style="display: none;"
    class="
        loader
        ease-linear
        rounded-full
        border-8 border-t-8 border-gray-200
        h-12
        w-12" >
    </div>

  </div>

  <div class="flex justify-center items-center" id="scanning-update">
  
  </div>
  


    
  <!-- <div id="loading-spinner" style="display: none;" class="flex justify-center items-center">
    
  </div> -->

  <div class="mx-auto mt-10 mb-10 bg-gray-100 rounded-md" id="ssl-data"> </div>

<!-- <div class="flex border-b-2 py-2 px-2">
    <div x-data="{id: 1}">
      <button  @click="$dispatch('open-dropdown',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">
      Windows
      </button>
    </div>
      <div x-data="{id: 2}">
        <button  @click="$dispatch('open-dropdown',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">
        Windows
        </button>
      </div>
      <div x-data="{id: 3}">
        <button  @click="$dispatch('open-dropdown',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">
        Windows
        </button>
      </div>
      <div x-data="{id: 4}">
        <button  @click="$dispatch('open-dropdown',{id})" class="bg-blue-600 text-gray-200 hover:bg-blue-500 px-4 py-3 text-sm focus:outline-none" type="button">
        Windows
        </button>
      </div>
</div> -->
  
  </div>

  {% endblock %}