

{% extends "polls/base.html" %}

{% block javascript %}
<script>

var counter; 
var isRunning = false; 

$(document).ready( function () {$('#monitorURL_Table').DataTable();});

// function poll() {
//     if(!isRunning){
//     document.getElementById("ping-data").innerHTML =  ""
//     counter = 5; 
//     myFunction();
//     ping_interval = pingInterval();}
//     else{
//       endInterval(ping_interval); 
//       isRunning = false;
//       poll(); 
//     }  
// }; 


// function endInterval(interval) {
//       clearInterval(interval)}; 

// function pingInterval(){
//   p_interval = setInterval(myFunction, 1000);
//   return p_interval; }; 

  
function myFunction(){

var website_port = document.getElementById("website_port").value;

//document.getElementById("ping-data").innerHTML = "";

$.ajax({
    type: "GET",
    url:"monitorUrl/?website_port="+website_port,
    
    beforeSend: function () {
        $('#loading-spinner').show();
       
      },
    success: function(data){   
      //document.getElementById("ping-data").innerHTML +=  (data + "<br>")
      var monitorTable = $('#monitorURL_Table').DataTable();

      var rowNode = monitorTable.row.add([data['hostname'],data['Cert Status'],data['Expiration Date'],data['Check Frequency'], "Refresh"]).draw().node();

      $( rowNode ).css( 'color', 'red' ).animate( { color: 'black' } );
  },

      complete: function () {$('#loading-spinner').hide();
  },
      failure: function(data) { 
          console.log('Got an error dude');
        }});  
  }; 
</script>

{% endblock %}


{% block content %}

<style>
  
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

    <div class="max-w-6xl mx-auto px-8 py-6 mt-10">
     
      <div class="lg:flex rounded-lg overflow-hidden">
      <div class="mx-auto flex items-center justify-center p-5 space-x-2">
        <div class="">Hostname:</div>    
        <div class="">
            <input
              id="website_port"
              type="text"
              placeholder="Placeholder"
              class="
                px-3
                py-3
                placeholder-gray-400
                text-gray-600
                bg-white bg-white
                rounded
                text-sm
                border border-gray-400
                outline-none
                focus:outline-none focus:ring
                w-full
              "
            />
          </div>
          <button 
          onclick="myFunction()"
          class="
            bg-purple-500
            text-white
            active:bg-purple-900
            font-bold
            uppercase
            text-sm
            px-6
            py-3
            rounded
            shadow
            hover:shadow-lg
            outline-none
            focus:outline-none
            ease-linear
            transition-all
            duration-150
          "
          type="button"
        >
        Check Port
        </button>


 
    
      <div id="loading-spinner" style="display: none;" class="
        loader
        ease-linear
        rounded-full
        border-8 border-t-8 border-gray-200
        h-10
        w-10">
      </div>

      </div>
    </div>

    
       

        <table id="monitorURL_Table" class="">
          <thead class="border-b bg-gray-900">
            <tr>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Hostname</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Cert Status</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Expiration Date</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Check Frequency</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Action</th>
            </tr>
          </thead class="border-b">
          <tbody>
            {% for cert in cert_urls %} 
            <tr class="bg-white border-b">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.url}}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.certValid}}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> {{cert.expirationDate}} </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.checkFrequency}}</td>
              <td>Refresh</td>
            </tr class="bg-white border-b">
            {% endfor %}
          </tbody>
        </table>

      </div>
    
{% endblock %}
