

{% extends "polls/base.html" %}

{% block javascript %}
<script>

var counter; 
var isRunning = false; 

$(document).ready( function () {$('#monitorURL_Table').DataTable();});

// function poll() {
//     if(!isRunning){
//     document.getElementById("ping-data").innerHTML =  ""
//     counter = 5; 
//     myFunction();
//     ping_interval = pingInterval();}
//     else{
//       endInterval(ping_interval); 
//       isRunning = false;
//       poll(); 
//     }  
// }; 


// function endInterval(interval) {
//       clearInterval(interval)}; 

// function pingInterval(){
//   p_interval = setInterval(myFunction, 1000);
//   return p_interval; }; 

  
function myFunction(){

var website_port = document.getElementById("website_port").value;

//document.getElementById("ping-data").innerHTML = "";

$.ajax({
    type: "GET",
    url:"monitorUrl/?website_port="+website_port,
    
    beforeSend: function () {
        $('#loading-spinner').show();
       
      },
    success: function(data){   
      //document.getElementById("ping-data").innerHTML +=  (data + "<br>")
      var monitorTable = $('#monitorURL_Table').DataTable();

      var rowNode = monitorTable.row.add([data['hostname'],data['Cert Status'],data['Expiration Date'],data['Check Frequency'], "Refresh"]).draw().node();

      $( rowNode ).css( 'color', 'red' ).animate( { color: 'black' } );
  },

      complete: function () {$('#loading-spinner').hide();
  },
      failure: function(data) { 
          console.log('Got an error dude');
        }});  
  }; 
</script>

{% endblock %}


{% block content %}

<style>
  
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

    <div class="max-w-6xl mx-auto px-8 py-6 mt-10">
     
      <div class="lg:flex rounded-lg overflow-hidden">
      <div class="mx-auto flex items-center justify-center p-5 space-x-2">
        <div class="">Hostname:</div>    
        <div class="">
            <input
              id="website_port2"
              type="text"
              placeholder="Placeholder"
              class="
                px-3
                py-3
                placeholder-gray-400
                text-gray-600
                bg-white bg-white
                rounded
                text-sm
                border border-gray-400
                outline-none
                focus:outline-none focus:ring
                w-full
              "
            />
          </div>
          <button 
          onclick="myFunction()"
          class="
            bg-purple-500
            text-white
            active:bg-purple-900
            font-bold
            uppercase
            text-sm
            px-6
            py-3
            rounded
            shadow
            hover:shadow-lg
            outline-none
            focus:outline-none
            ease-linear
            transition-all
            duration-150
          "
          type="button"
        >
        Check Port
        </button>


 
    
      <div id="loading-spinner" style="display: none;" class="
        loader
        ease-linear
        rounded-full
        border-8 border-t-8 border-gray-200
        h-10
        w-10">
      </div>

      </div>
    </div>




<!-- Flowbite Modal toggle -->
<button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" data-modal-toggle="authentication-modal">
  Toggle modal
</button>

<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="bg-transparent hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-gray-100  rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="py-6 px-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add SSL Cert Monitor</h3>
                <form class="space-y-6" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Host url</label>
                        <input type="email" name="email" id="website_port"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="google.com:443" required="">
                    </div>
                    <!-- 
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required="">
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value="" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required="">
                            </div>
                            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                        </div>
                        <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
                    </div> -->

                    <div class="flex" >
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-5 mx-auto text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-modal-toggle="authentication-modal">Cancel</button>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-5 mx-auto text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"data-modal-toggle="authentication-modal"  onclick="myFunction()">Add</button>
                  </div>
                    <!--  <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                        Not registered? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>

       

        <table id="monitorURL_Table" class="">
          <thead class="border-b bg-gray-900">
            <tr>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Hostname</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Cert Status</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Expiration Date</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Check Frequency</th>
              <th scope="col" class="text-sm font-medium text-white px-6 py-4">Action</th>
            </tr>
          </thead class="border-b">
          <tbody>
            {% for cert in cert_urls %} 
            <tr class="bg-white border-b">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.url}}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.certValid}}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> {{cert.expirationDate}} </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.checkFrequency}}</td>
              <td>Refresh</td>
            </tr class="bg-white border-b">
            {% endfor %}
          </tbody>
        </table>

        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h1 class="text-xl font-semibold text-gray-900">Users</h1>
              <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Add user</button>
            </div>
          </div>
          <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle">
                <div class="shadow-sm ring-1 ring-black ring-opacity-5">
                  <table class="min-w-full border-separate" style="border-spacing: 0">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Name</th>
                        <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Status</th>
                  
                        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Expiration</th>
                        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pr-4 pl-3 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
                          <span class="sr-only">Edit</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white">

                      {% for cert in cert_urls %} 
                      <tr class="bg-white border-b">
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.url}}</td>
                        {% if cert.certValid == True %}
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                          <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span>
                        </td>
                        {% else %}
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                          <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Expired</span>
                        </td>
                        {% endif %}
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> {{cert.expirationDate}} </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{cert.checkFrequency}}</td>
                        <td>Refresh</td>
                      </tr class="bg-white border-b">
                      {% endfor %}

                      <tr>
                        <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">Lindsay Walton</td>
                        <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 hidden sm:table-cell">Front-end Developer</td>
                        <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 hidden lg:table-cell">lindsay.walton@example.com</td>
                        <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">Member</td>
                        <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                          <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
                        </td>
                      </tr>
        
                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        

      </div>




{% endblock %}
